.container {
  margin-top: 100px;
}

.ayat-container {
  background-color: #dff0fd;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
}

.ayat {
  width: 100%;
  font-size: 2rem;
  padding: 20px;
  text-align: end;
  margin-bottom: -1rem;
}

.arti {
  font-size: 1.2rem;
}

@media (max-width: 430px) {
  .arti {
    padding: 8px;
  }
}
