.container {
  margin: auto;
  max-width: 1200px;
}

.content {
  /* display: flex; */
  /* justify-content: center; */
  /* flex-direction: column; */
  min-height: 90vh;
}

@media (max-width: 480px) {
  .content {
    min-height: 89vh;
  }
}
