.container {
  width: 100%;
  display: flex;
  background: #113a55;
  justify-content: center;
  top: 0;
  position: fixed;
  z-index: 100;
}

.rowbar {
  max-width: 1200px;
  margin: 0 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-weight: 800;
  cursor: pointer;
}

.col-menu {
  display: flex;
  justify-content: space-between;
}

.menu-item {
  margin-right: 20px;
  color: white;
  font-weight: 600;
}

.menu-item:last-child {
  margin-right: 0px;
}

.menu-icon {
  color: white;
  cursor: pointer;
  display: none;
}

.menu-icon:active {
  transform: rotate(360deg);
  transition: 1ms;
}

.show {
  right: -100%;
  transition: 1s;
}
.show.active {
  right: 0;
  transition: 1s;
}

@media (max-width: 991px) {
  .menu-icon {
    display: block;
    font-size: 1.5rem;
  }
  .menu-item {
    display: none;
  }
}
