.container {
  min-height: 95vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.title {
  text-align: center;
  color: #113a55;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -8rem;
}

.reset-btn {
  background-color: #113a55;
  color: #fff;
  padding: 4px 12px;
  font-size: 1.3rem;
}

.reset-btn:active {
  background-color: #ffcf36;
}

.counter {
  width: 100%;
  padding: 1rem 0;
  display: 2lex;
  justify-content: center;
  align-items: center;
}

.counter p {
  margin: 0 0;
  font-size: 10rem;
  color: #ffcf36;
}

.title button {
  position: absolute;
  background: none;
  border: none;
  outline: none;
  margin-top: 30rem;
}

.title button::after {
  content: "";
  width: 100px;
  height: 100px;
  background: #ffcf36;
  display: block;
  margin: auto;
  margin-top: -97px;
  border-radius: 50%;
}

.title button:active::after {
  content: "";
  width: 100px;
  height: 100px;
  background: #ffcf36;
  display: block;
  margin: auto;
  margin-top: -103px;
  border-radius: 50%;
}

.image {
  position: absolute;
  cursor: pointer;
  box-shadow: 0px 23px 0px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 23px 0px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 23px 0px 0px rgba(0, 0, 0, 0.75);
}

@media (max-width: 320px) {
  .counter {
    padding: 2rem 0;
  }

  .title {
    margin-top: -5rem;
  }
}
