html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

#nprogress .bar {
  background: #ffbb00 !important;
  height: 6px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #ffbb00, 0 0 5px #ffbb00 !important;
}

.swal2-popup {
  border-radius: 0px !important;
}

.swal2-styled.swal2-confirm,
.swal2-styled.swal2-cancel {
  border-radius: 0 !important;
}
